In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('estaticos_portfolio1.csv')
df.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,...,NaN,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4
2,2,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,...,39.454762,91.2,19.333333,14.0,15.0,25.0,-6.666667,-44.0,0.0,3

In [4]:
df.describe()

,Unnamed: 0,idade_empresa_anos,vl_total_tancagem,vl_total_veiculos_antt,vl_total_veiculos_leves,vl_total_veiculos_pesados,qt_art,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,vl_total_tancagem_grupo,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
count,555.000000,555.000000,0.0,0.0,38.000000,38.000000,4.000000,555.000000,555.000000,0.0,...,101.000000,101.000000,101.000000,131.000000,131.000000,131.000000,97.000000,91.000000,131.000000,555.000000
mean,277.000000,10.139247,NaN,NaN,1.473684,0.526316,3.250000,0.861261,0.542342,NaN,...,49.929006,72.989769,33.615512,4.458015,4.679389,4.908397,-0.132325,-2.073969,9.557799,1.236036
std,160.358972,9.641625,NaN,NaN,1.309773,1.330248,3.201562,16.312180,8.502044,NaN,...,40.968949,61.443495,37.410508,9.053057,9.875585,9.396767,40.324314,124.955846,28.315487,16.288026
min,0.000000,0.052055,NaN,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,NaN,...,5.406667,5.800000,2.166667,0.000000,0.000000,0.000000,-100.000000,-100.000000,0.000000,0.000000
25%,138.500000,2.924658,NaN,NaN,1.000000,0.000000,1.750000,0.000000,0.000000,NaN,...,22.323077,25.233333,5.966667,1.000000,0.000000,0.000000,0.000000,-45.076923,0.000000,0.000000
50%,277.000000,6.709589,NaN,NaN,1.000000,0.000000,2.000000,0.000000,0.000000,NaN,...,41.966667,54.700000,22.133333,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,415.500000,15.494521,NaN,NaN,2.000000,0.750000,3.500000,0.000000,0.000000,NaN,...,65.916667,93.266667,48.566667,4.000000,4.500000,5.000000,0.000000,0.000000,0.000000,0.000000
max,554.000000,47.517808,NaN,NaN,6.000000,7.000000,8.000000,382.000000,199.000000,NaN,...,228.155556,309.333333,192.633333,70.000000,75.000000,74.000000,200.000000,800.000000,213.333333,374.000000

In [5]:
df.columns

Index(['Unnamed: 0', 'id', 'fl_matriz', 'de_natureza_juridica', 'sg_uf',
       'natureza_juridica_macro', 'de_ramo', 'setor', 'idade_empresa_anos',
       'idade_emp_cat',
       ...
       'media_meses_servicos', 'max_meses_servicos', 'min_meses_servicos',
       'qt_funcionarios', 'qt_funcionarios_12meses', 'qt_funcionarios_24meses',
       'tx_crescimento_12meses', 'tx_crescimento_24meses', 'tx_rotatividade',
       'qt_filiais'],
      dtype='object', length=182)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Columns: 182 entries, Unnamed: 0 to qt_filiais
dtypes: bool(14), float64(142), int64(4), object(22)
memory usage: 736.2+ KB

In [7]:
aux = pd.DataFrame({'colunas': df.columns,
                    'tipos': df.dtypes,
                    'percentual_faltante': df.isna().sum() / df.shape[0]})

In [24]:
new_aux = aux[aux['percentual_faltante']<=0.5]
# new_aux['tipos'].value_counts()
new_aux

,colunas,tipos,percentual_faltante
Unnamed: 0,Unnamed: 0,int64,0.000000
id,id,object,0.000000
fl_matriz,fl_matriz,bool,0.000000
de_natureza_juridica,de_natureza_juridica,object,0.000000
sg_uf,sg_uf,object,0.000000
natureza_juridica_macro,natureza_juridica_macro,object,0.000000
de_ramo,de_ramo,object,0.000000
setor,setor,object,0.000000
idade_empresa_anos,idade_empresa_anos,float64,0.000000
idade_emp_cat,idade_emp_cat,object,0.000000
fl_me,fl_me,bool,0.000000
fl_sa,fl_sa,bool,0.000000
fl_epp,fl_epp,bool,0.000000
fl_mei,fl_mei,bool,0.000000
fl_ltda,fl_ltda,bool,0.000000
dt_situacao,dt_situacao,object,0.000000
fl_st_especial,fl_st_especial,bool,0.000000
fl_email,fl_email,bool,0.000000
fl_telefone,fl_telefone,bool,0.000000
fl_rm,fl_rm,object,0.000000
nm_divisao,nm_divisao,object,0.000000
nm_segmento,nm_segmento,object,0.000000
fl_spa,fl_spa,bool,0.000000
fl_antt,fl_antt,bool,0.000000
fl_veiculo,fl_veiculo,bool,0.000000
fl_optante_simples,fl_optante_simples,object,0.181982
vl_total_veiculos_pesados_grupo,vl_total_veiculos_pesados_grupo,int64,0.000000
vl_total_veiculos_leves_grupo,vl_total_veiculos_leves_grupo,int64,0.000000
fl_optante_simei,fl_optante_simei,object,0.181982
sg_uf_matriz,sg_uf_matriz,object,0.000000
de_saude_tributaria,de_saude_tributaria,object,0.019820
de_saude_rescencia,de_saude_rescencia,object,0.019820
nu_meses_rescencia,nu_meses_rescencia,float64,0.084685
de_nivel_atividade,de_nivel_atividade,object,0.007207
fl_simples_irregular,fl_simples_irregular,bool,0.000000
empsetorcensitariofaixarendapopulacao,empsetorcensitariofaixarendapopulacao,float64,0.270270
nm_meso_regiao,nm_meso_regiao,object,0.115315
nm_micro_regiao,nm_micro_regiao,object,0.115315
fl_passivel_iss,fl_passivel_iss,bool,0.000000
qt_socios,qt_socios,float64,0.264865
qt_socios_pf,qt_socios_pf,float64,0.264865
qt_socios_pj,qt_socios_pj,float64,0.264865
idade_media_socios,idade_media_socios,float64,0.347748
idade_maxima_socios,idade_maxima_socios,float64,0.347748
idade_minima_socios,idade_minima_socios,float64,0.347748
qt_socios_st_regular,qt_socios_st_regular,float64,0.351351
de_faixa_faturamento_estimado,de_faixa_faturamento_estimado,object,0.045045
de_faixa_faturamento_estimado_grupo,de_faixa_faturamento_estimado_grupo,object,0.045045
vl_faturamento_estimado_aux,vl_faturamento_estimado_aux,float64,0.045045
vl_faturamento_estimado_grupo_aux,vl_faturamento_estimado_grupo_aux,float64,0.045045
qt_filiais,qt_filiais,int64,0.000000

In [1]:
columns = df.columns
def val_counts():
    for column in columns:
        print(f'-------> Coluna: {column}')
        print(df[column].value_counts())
        obj = {
            "total": len(df[column]),
            "percentages": (df[column].value_counts()/df[column].count())*100
        }
        print(obj)
    
val_counts()

NameError: name 'df' is not defined

In [52]:
df['fl_matriz'].value_counts()
(df['fl_matriz'].value_counts()/df['fl_matriz'].count())*100
obj = {
    "total": len(df['fl_matriz']),
    "percentages": (df['fl_matriz'].value_counts()/df['fl_matriz'].count())*100
}
obj

{'total': 555,
 'percentages': True     93.513514
 False     6.486486
 Name: fl_matriz, dtype: float64}

In [15]:
df.dtypes

Unnamed: 0                   int64
id                          object
fl_matriz                     bool
de_natureza_juridica        object
sg_uf                       object
                            ...
qt_funcionarios_24meses    float64
tx_crescimento_12meses     float64
tx_crescimento_24meses     float64
tx_rotatividade            float64
qt_filiais                   int64
Length: 182, dtype: object

In [16]:
df.dtypes.value_counts()

float64    142
object      22
bool        14
int64        4
dtype: int64

In [26]:
df['de_saude_rescencia'].value_counts()

ACIMA DE 1 ANO    453
ATE 1 ANO          55
SEM INFORMACAO     36
Name: de_saude_rescencia, dtype: int64